// Contains a function ArrMax.arrMax that finds and returns the largest element in the array a of length b.
// a & b are both supplied as arguments

// Put your code here.
function ArrMax.init 0

push static 1
push static 2
call ArrMax.arrMax 2
pop static 0

label END
goto END

function ArrMax.arrMax 3
    push this 0
    pop temp 6
    push that 0
    pop temp 7

    push argument 0
    pop pointer 1
    push that 0
    pop local 0 // max
    
    push constant 0
    pop local 1 // loop counter

    push argument 1
    pop local 2 // number of arr elements

label LOOP
    push local 1
    push local 2
    gt
    if-goto LOOP_END

    push argument 0
    push local 1
    add
    pop pointer 1

    push that 0
    push local 0
    lt
    if-goto IF_END

    push that 0
    pop local 0

label IF_END

    push local 1
    push constant 1
    add
    pop local 1

    goto LOOP

label LOOP_END
    push temp 6
    pop this 0
    push temp 7
    pop that 0

    push local 0
    return
